{% extends "base.html" %}

{% block main %}
<main class="t-pad-100">
   <div class="content-wrapper max-w-1000">
      <div class="grid-wrapper">

         <a href="/blog">
            <div class="blog-card">
               <div class="blog-img">
                  <img src="/static/extra/blogs.png" alt="">
               </div>
               <div class="blog-text">
                  <p class="blog-cat tb-pad-20">DESIGN</p>
                  <h3>30 Beautiful Google Fonts for Your Website</h3>
                  <p class="summary t-pad-25">
                     Lorem ipsum dolor sit amet ectetur adipisicing .
                  </p>
               </div>
            </div>
         </a>

      </div>
   </div>
</main>
{% endblock %}
